<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849595375515-0bbdf9264gsoifbjkqa7gl2p74hkqetc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849595375515-0bbdf9264gsoifbjkqa7gl2p74hkqetc</string>
	<key>API_KEY</key>
	<string>AIzaSyDRoyqzDLejKbdNPrKcLon46A6Us5vNIx8</string>
	<key>GCM_SENDER_ID</key>
	<string>849595375515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test-company.InstagramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-ca5d6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-ca5d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849595375515:ios:2a43dd3790568d1a624b3e</string>
</dict>
</plist>