<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162998352646-ej4n5aovr70j4h6a8iqb2h6tdjjc33gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162998352646-ej4n5aovr70j4h6a8iqb2h6tdjjc33gb</string>
	<key>API_KEY</key>
	<string>AIzaSyAsFYxHdX3KAvpI3J9kXfarTrOJgims6p4</string>
	<key>GCM_SENDER_ID</key>
	<string>162998352646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test-company.InstagramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-e4fad</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-e4fad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162998352646:ios:74b5e3db0ae3c6bd703c87</string>
</dict>
</plist>